<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom bg-primary bg-gradient">
    <a href="/" class="d-flex align-items-center text-light text-decoration-none mx-4">
      <app-header></app-header>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto mx-4">
      <a class="me-3 py-2 text-light text-decoration-none" href="#">Sobre</a>
      <a class="me-3 py-2 text-light text-decoration-none" href="#">Produtos</a>
      <a class="me-3 py-2 text-light text-decoration-none" href="#">Suporte</a>
    </nav>
    <a href="#" class="btn btn-outline-light mx-4 my-2">Sign up</a>
</div>
